/* ---------------------- RESET ---------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* ---------------------- HEADER ---------------------- */
header {
    color: white;
    padding: 20px 0;
}

.tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
}
.tete h2 {
    font-size: 2.3rem;
}

/* Navigation */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    transform : scale(1.2);
}

nav ul li a:hover {
    background-color: white;
    color: rgb(43, 192, 255);
    border-radius: 5px;
    transform : scale(0);
    transition : all 0.5s ease;   /* Ceci sert a ajuster la vitesse du Zoom*/ 
}

/* Réseaux sociaux */
span a {
    color: white;
    font-size: 1.9rem;
    margin-left: 15px;
    transition: color 0.3s;
}
.reseaux{
    padding-right: 1em;
}
span a:hover {
    color: rgb(255, 220, 0);
}

.backgroundGradiant {
    background: rgb(112, 193, 231);
    background: radial-gradient(circle, rgba(112, 193, 231, 1) 0%, rgba(67, 151, 189, 1) 51%);
    height: 100vh;
    width: 100%;
}

/* ---------------------- TITRES ---------------------- */
h1 {
    width: 100%;
    color: rgb(18, 18, 18);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4em;
    line-height: 1.2em;
    padding-bottom: 0.5em;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.firstPart.h2 {
    color: white;
    width: 100%;
}

.firstPart.h3 {
    text-align: center;
}

.productFeatures {
    justify-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.productFeatures.h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
}

.txtProductFeatures {
    width: 30%;
    text-align: center;
    color: rgb(123, 122, 122);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12.5px;
}

.figProductFeatures h4 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.3em;
}



/* ---------------------- STRUCTURES ---------------------- */
.firstPart {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.secondPart {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    margin: 30px;
    text-align: center;
    justify-content: center;
}

/* ---------------------- FORMULAIRE ---------------------- */
#subscribe {
    position: relative;
    right: -429px;
    top: -29.55px;
    width: 100px;
    height: 2.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    border-radius: 20px;
    background-color: rgb(112, 193, 231);
    color: white;
    border: none;
}

#email {
    width: 100%;
    height: 2.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 20px;
    border: none;
    padding-left: 1em;
}

.inputSubmit{
    width: 100%;
}

.emailContact{
    width: 100%;
}

/* ---------------------- ARTICLES & CONTENUS ---------------------- */
.firstArticle {
    width: 50%;
    padding: 3em 0 0 8em;
    justify-content: center;
}

article.team {
    width: 50%;
}

.presentation {
    width: 100%;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal bold;
    font-size: 1.3em;
    color: rgb(69, 69, 69);
    padding-bottom: 0.5em;
}

.accueil{
    width: 65%;
    padding-top: 5em;

}




/* ---------------------- PRODUITS ---------------------- */
.figProductFeatures {
    width: 20em;
    height: 20em;
    padding: 40px;
    margin-left:5em;
    background: rgb(112, 193, 231);
    background: radial-gradient(circle, rgba(112, 193, 231, 1) 0%, rgba(67, 151, 189, 1) 51%);
    border-radius: 10px;
    color: white;
    align-content: center;
    box-shadow: #444 1px 1px 5px ;
}

.figSecondContainer {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.6em;
}

/* Icônes */
.fa-globe,
.fa-brush,
.fa-chess {
    margin: 22px;
    width: 200px;
}

/* ---------------------- ÉQUIPE ---------------------- */

.equipe{

    padding: 2% 10%;
    display: flex;
    flex-direction: column;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pteam{
    width: 50%;
    text-align: center;
}

.img-container{
    justify-content: space-around;

}

.allTeam{
    display:flex;

}
/* ---------------------- MAIN ---------------------- */
main {
    height: 50vh;
}

.imgBigCat{
    display: flex;
    width: 100%;
    padding-right: 1em;

}

.imgCat {
    display: flex;
    width: 40%;
    padding-top: 5em;
}

/* ---------------------- PARALLAX ---------------------- */
.parallax {
    position: relative; /* Je mets la position relative pour que je puisse ajuster facilement les éléments à l'intérieur de cette section sans affecter le reste de la page. */
    height: 400px; /* Je choisis une hauteur de 400px pour cette section, mais je peux ajuster cela si j'ai besoin de plus ou moins d'espace. */
}

/* Avec relative sur la section pour qu'elle serve de référence pour les éléments à l'intérieur.
Avec absolute sur l'image, elle se place directement par-dessus la section et couvre toute sa surface sans bouger avec le contenu. 
Avec background-attachment fixed on garde l'image fixe pendant que le texte et les autres éléments défilent, créant l'effet parallax */
  
  /* Image de fond */
  .backgroundParallax {
    background-image: url('img/parallax.png'); /* Je choisis une image de fond ici. Je peux la remplacer par l'image de mon choix. */
    background-size: cover; /* on mets "cover" pour que l'image remplisse toute la section sans déformer son aspect. */
    background-position: center; /* Je centre l'image pour qu'elle soit bien placée, même si l'écran est plus grand. */
    background-attachment: fixed; /* Je choisis "fixed" pour créer l'effet parallax, où l'image reste fixe quand on fait défiler la page. */
    filter: brightness(50%); /* J'assombri l'image de fond pour que le texte soit plus lisible par-dessus. */
    height: 100%; 
    width: 100%; 
    position: absolute; /* on choisis "absolute" pour que l'image se superpose à la section et occupe tout l'espace. */
}
  
/* Contenu texte */
.artParallax {
    position: relative; /* Permet de placer le texte au-dessus */
    text-align: center;
    justify-items: center;
    color: white; /* Texte clair */
    padding: 20px;
    display: flex; /* On utilise flex pour centrer le contenu */
    flex-direction: column; /* Pour que le titre et le texte soient en colonne */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    height: 100%; /* Assure que l'artParallax prend toute la hauteur de la section */
}

  
  .artParallax h3 {
    margin-bottom: 10px; /* on mets un peu d'espace sous le titre pour que ça ne soit pas trop compact avec le texte suivant. */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
  .txtParallax {
    margin-bottom: 20px;
    width: 87%;
  }
  
  .artParallax button {
    padding: 10px 20px; 
    background: transparent;
    border-radius: 5px; /* Je rends les coins du bouton arrondis  */
    color: white;
    border: solid 1px white;

}
  
.artParallax button:hover {
    background-color: rgb(153, 153, 153); /*je le fais devenir blanc pour un effet animé quand je passe le curseur dessus. */
}

/* ---------------------- BLOG ---------------------- */
/* Conteneur principal */
.blog {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.divBlog {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 30px;
}




/* Effet brightness au survol */
.divBlog:hover figure img {
    filter: brightness(30%); /* Réduit la luminosité de l'image au survol */
}

/* Auteur et date sur l'image */
.author-date {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.divBlog:hover .author-date {
    opacity: 1; /* Va Afficher les infos sur l'image au survol */
}

/* Texte sous l'image */
.artBlog {
    margin-top: 10px;
    text-align: center; /* Centre le texte */
}

article h3 {
    font-size: 1.5em;
    margin: 0;
}

article.txtblog {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.txtblog{
    margin-bottom: 1em;
}

.blog{
    padding-bottom: 3em;
}

.readMore {
    color: rgb(70, 70, 196);
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    margin-right: 15em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2em;
}

.readMore:hover {
    color: darkblue;
    text-decoration: none;
}


.fa-clock{
    padding-left: 30px;
    padding-top:10px ;
    margin: 0;
}
.fa-user{
    font-size: 1em;
    margin: 0;
}
.sideIcon{
    font-size: 2em;

}
.sideIcon2{
    font-size: 1.5em;
    padding-right: 2em;
}

.bug{
    padding-left:3em ;
}
/* ---------------------- Pricing ---------------------- */

.pricing {

    font-family: Arial, sans-serif;
    margin: 20px;
}

.pricing.container h3{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
}


article.artPricing1{
    width: 30%;
    margin-left: 1em;
}

.artPricing1 h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
}

.pricing1{
    align-items: center;
    width: 100%;
}

.txtPricing {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
}


.promo-corner {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background: #ff5722;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.happyUser h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
}

.completeProject h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
}

.imgCreativity{
    width: 50%;
    text-align: center;
}

.imgcrea{
    width: 500px;
}
.container{
    display: flex;
    justify-content: center;

}

.artPricing1{
    width: 50%;
    margin-top: 20px;
}



.artPricing1 h3{

   margin-bottom: 20px;
}

.stat{
    display: flex;
}

.happyUser{
    margin-right: 3em;
}

.pricing2{
    background-color: whitesmoke;
}

.cards-container{
    display: flex;
}






.pricing2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.artPricing2 {
    text-align: center;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-container > div {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}


.starter h4,
.advanced h4,
.professional h4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.starter span,
.advanced span,
.professional span {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

/* Content Layout for Items */
.starter dl,
.advanced dl,
.professional dl {
    gap: 10px;
    color: #444;
    font-size: 16px;
    width: 100%;
    height: 23vh;

}

.advanced{
    transform: translateY(-30px);
}
.padding{
    display: flex;
    width: 100%;
    padding-bottom: 1em;
    justify-content: space-between;
}



.fa-circle-check{
    color:green
}

.fa-circle-xmark{
    color: red;
}

 dt {
    text-align: left;
    font-weight: bold;
;
}

dl dd {
    text-align: right;

}

/* Promo Badge for Advanced Plan */
.advanced .promo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #007bff;
    color: #fff;
    width:60px;
    height: 60px;
    font-weight: bold;
    border-radius: 0% 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.montant{
    display: flex;
    justify-content: center;
}


.montant{
    text-align: center;
    align-items: center;
}
.montant .dollard{
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #007bff;
    text-align: center;
}

.joinNow{
    
    background-color: #007bff;
    border-radius: 5px;
    padding: .5em;
    width: 95%;
    text-align: center;
    vertical-align: text-bottom;
}

.joinNow a{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    vertical-align: middle;
}
/* ---------------------- FOOTER ---------------------- */
footer {
    background-color: rgb(30, 30, 30);
    color: white;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 10vh;
    padding-top: 1em;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;

}
  
.reseauxSociaux{
    margin: auto;
    justify-items: center;


}

.rsxFooter {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 15%;
    justify-content: space-between;

}

.rsxFooter li{
    
    border-radius: 50%;
    border: 1px solid grey;
    justify-content:center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;

}

.rsxFooter a{
    color: white;

}

.charte1 , .charte2{
    border-right: 2px solid white ;
    margin-right: 10px;

}

.charte1 , .charte2, .charte3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style:normal;
    font-size: small;
    
}

.rgpd{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.copyright{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style:normal;
    font-size: x-small;
    padding-top: 10px;
}